<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>tank-game</title>
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="style/styles.css"/>
		<!-- libs -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-ui-router.min.js"></script>
	</head>
	<body>
		<div id="app-container" ng-app="tankApp">
			<div ui-view>
				<div class="bordered">
					<p>Uh-oh! Seems like the game couldn't load, likely causes are:</p>
					<ul>
						<li>JavaScript is disabled</li>
						<li>Your browser is not supported</li>
						<li>Our code is a buggy mess</li>
					</ul>
					<p>Press "F5" to refresh, or just give up and go outside...</p>
				</div>
			</div>
			<!-- views -->
			<script type="text/ng-template" id="view/frontpage">
				<p>Main Menu</p>
				<div class="bordered">
					<p><a ng-click="menuLink()" href="#/game">Start</a></p>
					<p><a ng-click="menuLink()" href="#/options">Options</a></p>
				</div>
			</script>
			<script type="text/ng-template" id="view/options">
				<p>Options</p>
				<div class="bordered">
					<p>Sound</p>
					<div class="option-container">
						<a ng-class="{active: Options.soundEnabled == true}" ng-click="setOption('soundEnabled', 1)"><span class="option-content">On</span></a>
						<a ng-class="{active: Options.soundEnabled == false}" ng-click="setOption('soundEnabled', 0)"><span class="option-content">Off</span></a>
					</div>
				</div>

				<div class="bordered">
					<p>Player Settings</p>
					<div class="option-container">
						<a ng-class="{active: Options.playerOptionsIndex == 0}" ng-click="getPlayerSettings(0)"><span class="option-content">Player 1</span></a>
						<a ng-class="{active: Options.playerOptionsIndex == 1}" ng-click="getPlayerSettings(1)"><span class="option-content">Player 2</span></a>
						<a ng-class="{active: Options.playerOptionsIndex == 2}" ng-click="getPlayerSettings(2)"><span class="option-content">Player 3</span></a>
					</div>

					<hr>

					<p>Controls</p>
					<div class="option-container">
						<ul class="unstyled right-labels">
							<li>
								<label>Forward:</label>
								<button ng-class="{active: activeKeyBinding == 'forward', invalid: buttonLabelForward == '------'}" ng-click="listenForKey($event, 'forward')">
									{{buttonLabelForward}}
								</button>
							</li>
							<li>
								<label>Backward:</label>
								<button ng-class="{active: activeKeyBinding == 'backward', invalid: buttonLabelBackward == '------'}" ng-click="listenForKey($event, 'backward')">
									{{buttonLabelBackward}}
								</button>
							</li>
							<li>
								<label>Left:</label>
								<button ng-class="{active: activeKeyBinding == 'left', invalid: buttonLabelLeft == '------'}" ng-click="listenForKey($event, 'left')">
									{{buttonLabelLeft}}
								</button>
							</li>
							<li>
								<label>Right:</label>
								<button ng-class="{active: activeKeyBinding == 'right', invalid: buttonLabelRight == '------'}" ng-click="listenForKey($event, 'right')">
									{{buttonLabelRight}}
								</button>
							</li>
							<li>
								<label>Shoot:</label>
								<button ng-class="{active: activeKeyBinding == 'shoot', invalid: buttonLabelShoot == '------'}" ng-click="listenForKey($event, 'shoot')">
									{{buttonLabelShoot}}
								</button>
							</li>
						<ul>
					</div>

					<hr>

					<p>Colour</p>
					<div class="option-container">
						<a ng-class="{active: Options.playerColors[Options.playerOptionsIndex] == 'red'}" ng-click="setColor('red')"><span class="option-content">Red</span></a>
						<a ng-class="{active: Options.playerColors[Options.playerOptionsIndex] == 'blue'}" ng-click="setColor('blue')"><span class="option-content">Blue</span></a>
						<a ng-class="{active: Options.playerColors[Options.playerOptionsIndex] == 'green'}" ng-click="setColor('green')"><span class="option-content">Green</span></a>
					</div>
				</div>
				<div class="bordered">
					<p>Number of players</p>
					<div class="option-container">
						<a ng-class="{active: Options.playerCount == 1}" ng-click="setOption('playerCount', 1)"><span class="option-content">1</span></a>
						<a ng-class="{active: Options.playerCount == 2}" ng-click="setOption('playerCount', 2)"><span class="option-content">2</span></a>
						<a ng-class="{active: Options.playerCount == 3}" ng-click="setOption('playerCount', 3)"><span class="option-content">3</span></a>
					</div>
				</div>
				<div class="bordered">
					<p>Health</p>
					<div class="option-container">
						<a ng-class="{active: Options.playerHealth == 1}" ng-click="setOption('playerHealth', 1)"><span class="option-content">1</span></a>
						<a ng-class="{active: Options.playerHealth == 20}" ng-click="setOption('playerHealth', 20)"><span class="option-content">20</span></a>
						<a ng-class="{active: Options.playerHealth == 100}" ng-click="setOption('playerHealth', 100)"><span class="option-content">100</span></a>
						<a ng-class="{active: Options.playerHealth == 200}" ng-click="setOption('playerHealth', 200)"><span class="option-content">200</span></a>
					</div>
				</div>
				<p><a ng-click="backLink()" href="#/">Back</a></p>
			</script>
			<script type="text/ng-template" id="view/gamepage">
				<!-- <canvas id="gameCanvas" width="640" height="480"></canvas> -->
				<canvas id="gameCanvas" width="360" height="240"></canvas>
				<p><a ng-click="backLink()" href="#/">Back</a></p>
			</script>
		</div>

		<!-- scripts -->
		<script src="scripts/main.js"></script>
	</body>
</html>
