<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>tank-game</title>
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="style/styles.css"/>
		<!-- libs -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-ui-router.min.js"></script>
	</head>
	<body>
		<div id="app-container" ng-app="tankApp">
			<div ui-view>
				No JavaScript?
			</div>
			<!-- views -->
			<script type="text/ng-template" id="view/frontpage">
				<p><a ng-click="menuLink()" href="#/game">Start</a></p>
				<p><a ng-click="menuLink()" href="#/options">Options</a></p>
			</script>
			<script type="text/ng-template" id="view/options">
				<p>Options</p>
				<div class="bordered">
					<p>Sound</p>
					<a ng-class="{active: soundEnabled == true}" exclusive-select ng-click="setOption('soundEnabled', 1)"><span class="option-content">On</span></a>
					<a ng-class="{active: soundEnabled == false}" exclusive-select ng-click="setOption('soundEnabled', 0)"><span class="option-content">Off</span></a>
				</div>
				<div class="bordered">
					<p>Password</p>
					<p>Text</p>
					<p>Text</p>
					<div class="input-option">
						<input type="text" name="password">
						<button>OK</button>
					</div>
				</div>
				<p><a ng-click="backLink()" href="#/">Back</a></p>
			</script>
			<script type="text/ng-template" id="view/gamepage">
				<!-- <canvas id="gameCanvas" width="640" height="480"></canvas> -->
				<canvas id="gameCanvas" width="360" height="240"></canvas>
				<p><a ng-click="backLink()" href="#/">Back</a></p>
			</script>
		</div>

		<!-- scripts -->
		<script src="scripts/main.js"></script>
	</body>
</html>
