/* Global rules */
@font-face {
	font-family: 'PressStart2P';

	src:
		url('../fonts/PressStart2P.woff2') format('woff2'),
		url('../fonts/PressStart2P.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

html, head, body {
	margin: 0;
	padding: 0;

	image-rendering: -moz-crisp-edges;
	image-rendering:   -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

body {
	font-family: 'PressStart2P', 'sans-serif';
	font-size: 1rem;
	background-color: #000;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
}

li {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

ol, ul {
	padding-left: 2rem;
	list-style-type: none;
}

ol > li {
	counter-increment: listCount;
}

ol > li:before {
	content: counter(listCount);
	margin-right: 1rem;
	cursor: default;
}

ol {
	counter-reset: listCount;
}

ul > li:before {
	content: "\2022";
	margin-right: 1rem;
	cursor: default;
}

ul ul > li:before {
	content: "\25A0";
	margin-right: 1rem;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

a:before {
	content: '\2003\00a0';
	display: inline-block;
	color: #fff;
}

a:hover:before {
	content: '\25b6\00a0';
}

a:hover, button:active {
	color: #ff0;
}

div.bordered p:first-child {
	margin-top: 0;
}

div.bordered p:last-child {
	margin-bottom: 0;
}

input, textarea {
	width: 20rem;
}

div.bordered, input, button, textarea {
	border: .375em solid #fff;
	border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAACBJREFUCNdjsP/PAMb//x8A4z/8EPyBGRuGy8PUw/QDALOEIU9PetX7AAAAAElFTkSuQmCC) 6 repeat;
}

button:active, input:focus, textarea:focus {
	border-color: #ff0;
	border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAABlBMVEUAAAD//wCI23BQAAAAAXRSTlMAQObYZgAAACBJREFUCNdjsP/PAMb//x8A4z/8EPyBGRuGy8PUw/QDALOEIU9PetX7AAAAAElFTkSuQmCC);
}

textarea {
	resize: none;
	margin: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: 3rem;
}

textarea::-webkit-scrollbar {
    display: none;
}

a.active .option-content {
	border-bottom: .125em solid #fff;
}

div.bordered {
	margin-bottom: 1rem;
	padding: .625rem;
}

input, button, textarea {
	padding: .125rem .625rem;
	outline: none;
	color: #fff;
	background-color: #000;
	font-family: 'PressStart2P', 'sans-serif';
	line-height: 1;
	font-size: 1em;
	text-transform: uppercase;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #777;
	opacity: 1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #777;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #777;
}

input::placeholder, textarea::placeholder {
	color: #777;
}

#app-container {
	margin: 2rem auto;
	max-width: 1080px;
	min-width: 640px;
}
/* Game view */
#gameCanvas {
	background-color: #ccc;
	min-height: 480px;
	min-width: 640px;
	width: 100%;
}
